<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>SEM LAYOUT</h1>
    <h3>Hello World!</h3>
    <% if (is_desktop) { %>
    <p>You're using a desktop</p>
    <% } %>
    <% if (is_phone) { %>
    <p>You're using a phone</p>
    <% } %>
    <% if (is_tablet) { %>
    <p>You're using a tablet</p>
    <% } %>
</body>
</html>